<div id="wrapper">
  <p>Type : {{ type }}</p>
  <p>Id : {{ id }}</p>
  <div *ngIf="type==='Bag'" id="BagContainer">
    <p>Nom : {{ name }}</p>
    <p *ngFor="let i of pieces; let j = index">
      Id Pièce n°{{j}} : {{i}}
    </p>
  </div>

  <div *ngIf="type==='Piece'" id="PieceContainer">
    <p>Couleur : {{ color }}</p>
    <p>Forme : {{ shape }}</p>

    <div *ngIf="shape==='rectangle'">
      <p>Longueur : {{ length }}</p>
      <p>Largeur : {{ width }}</p>
      <p>Hauteur : {{ height }}</p>
    </div>

    <div *ngIf="shape==='circle'">
      <p>Diamètre : {{ diameter }}</p>
    </div>
  </div>
</div>
