<mat-tab-group>
	<mat-tab label="Sachets">
		<p><input [(ngModel)]="searchText" placeholder="Rechercher un sachet"></p>
		<p><button mat-raised-button color="primary" (click)="openBagDialog()">Ajouter un nouveau sachet</button></p>
		<ul>
			<app-database-element-bag *ngFor="let b of (bags$ | async | bagFilter:searchText)"
				[bag]="b"></app-database-element-bag>
		</ul>
	</mat-tab>
	<mat-tab label="Pièces">
		<ul>
			<app-database-element-piece *ngFor="let p of (pieces$ | async)"
				[piece]="p"></app-database-element-piece>
		</ul>
	</mat-tab>
	<mat-tab label="Ajouter une pièce">
		<ul>
			<app-database-add-piece></app-database-add-piece>
		</ul>
	</mat-tab>
</mat-tab-group>
