<h1 mat-dialog-title>Ajouter un sachet</h1>
<div mat-dialog-content>
	<p>Nom : <input matInput [(ngModel)]="data.name"></p>
	<mat-selection-list [(ngModel)]="data.pieces">
		<mat-list-option *ngFor="let p of (pieces$ | async)" [value]="p.quantite">
			<img matListAvatar src="{{ p.imgUrl }}">
			<p matLine>Qte: {{ p.quantite }}</p>
			<p matLine>Quantité à ajouter : <input matInput [(ngModel)]="p.quantite"></p>
		</mat-list-option>
	</mat-selection-list>
</div>
<div mat-dialog-actions>
	<button mat-button [mat-dialog-close]="data">Confirmer</button>
	<button mat-button (click)="onCancel()">Annuler</button>
</div>
