<div id="wrapper">
    <div id="icon">
      <button mat-flat-button class="mdc-button">
        <i *ngIf="selectedSort!='none'" class="material-icons green-icon">check_circle_outline</i>
        <i *ngIf="selectedSort=='none'" class="material-icons red-icon">cancel_presentation</i>
		<img src="{{ legoPicture }}" alt="Lego Picture" width="300">
		</button>
    </div>
    <!-- <div id="lego-picture">
      <img src="{{ legoPicture }}" alt="Lego Picture" width="300">
    </div> -->
    <div id="div-under-button">
      <p id="text-under-button"> Tri choisi : {{ selectedSort }}</p>
    </div>
</div>
<div id="div-test">
  <button class="btn btn-success"
          (click)="demoSort()">Bouton Test</button>
</div>
